Repository juan-gar/devops-sandbox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devops-team, @backend-team, @infrastructure-team, @platform-team

{commit_message}
  .DS_Store
  .github/.DS_Store
  cloudbuild.yaml
  terraform/terraform.tfvars.example
Owners: @devops-team, @infrastructure-team

Update app_test.py
  src/app_test.py
Owners: @backend-team

new feature
  Dockerfile
Owners: @devops-team

Fixed dependencies
  .github/workflows/docker-publish.yml
  Dockerfile
  requirements.txt
Owners: @platform-team, @devops-team

Fixed code style
  src/app.py
  src/app_test.py
Owners: @backend-team

Upgraded upload artifact action
  .github/workflows/security-scan.yml
Owners: @platform-team

Upgraded dependencies
  requirements.txt
Owners: @devops-team

Upgraded dependencies
  src/app_test.py
Owners: @backend-team

Set correct SA
  .github/workflows/cd.yml
Owners: @platform-team

Set correct SA
  .github/workflows/terraform.yml
Owners: @platform-team

Configured GAR
  .github/workflows/terraform.yml
Owners: @platform-team

Configured GAR
  .github/workflows/cd.yml
  .github/workflows/terraform.yml
Owners: @platform-team

Modified SA in publish wf
  .github/workflows/docker-publish.yml
Owners: @platform-team

Update main.tf
  terraform/main.tf
Owners: @infrastructure-team

.github/CODEOWNERS:

# DevOps Team owns all files
* @devops-team

# App code owned by backend team
/src/ @backend-team

# Infrastructure code owned by infrastructure team
/terraform/ @infrastructure-team

# CI/CD pipelines owned by platform team
/.github/workflows/ @platform-team
